.editor {
  border: solid 1px #00000021;
  padding: 11.5px;
  //font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  //font-size: 0.875rem;
  max-height: 15rem;

  .cm-editor {
    outline: none !important;
  }
}

.output-terminal {
  position: relative;
  height: 12rem;
  background-color: $black;
  font-family: Consolas, monospace;
  color: white;
  padding: 0;
  overflow: auto;
}

.run-button {
  height: 50px;
  padding-right: 5px;
  padding-left: 5px;
}

.run-arrow {
  background-image: url("run_arrow.svg");
  width: 100px;
  height: 100px;
  background-size: cover;
}

.feedback-banner {
  font-family: Consolas, monospace;
  margin: 0;
  position: sticky;
  top: 0;
  left: 0;
  overflow: auto;

  .feedback-message {
    padding-left: 20px;
    .feedback-button {
      opacity: 0.6;
      text-shadow: 0 1px 0 #888888;
      background: 0 0;
      //padding: 0;
      color: $black;
      font-weight: 700;
      font-size: 120%;
      margin-top: -0.2rem;
      position: absolute;
      left: 3px;
    }
  }
}

.feedback-success {
  background-color: $green;

  .feedback-message > .feedback-button {
    opacity: 1;
    text-shadow: 0 1px 0 #FFFFFF55;
    color: white;
  }
}

.feedback-error {
  background-color: $red;
}


