.editor {
  background-color: white;
  border: solid 1px #00000021;
  padding: 11.5px;
  //font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  //font-size: 0.875rem;
  min-height: 5rem;
  height: 11.4rem;
  resize: vertical;

  .cm-editor {
    outline: none !important;
  }
}

.output-terminal-container {
  height: 200px;
  background-color: #000000;
  border-radius: 5px;
  padding: 10px 10px 10px 20px;
  position: relative;
  overflow: hidden;
}

// Relevant Ada colours
$dark-pink-100: #510937;
$dark-pink-200: #6C0A48;
$dark-pink-300: #870C5A;
$focus-blue: #00A8A6;
// Greyscale
$cs-black: #000000;
$cs-jet: #333333;
$cs-dark-silver: #B9B9B9;
$cs-silver: #C2C2C2;
$cs-light-gray: #D6D6D6;
$cs-list-outline-gray: #EBEBEB;
$cs-cultured: #F5F5F5;
$cs-white: #ffffff;

.sql-message {
  background-color: $cs-cultured;
  font-weight: bold;
  border-radius: 6px;
  padding: 8px;
  margin-bottom: 15px;
}
.output-table-container {
  max-height: 300px;
  &.no-message {
    max-height: 258px !important;
  }
  &.fullscreen {
    height: 100% !important;
  }
  border-radius: 5px;
  position: relative;
  overflow-y: auto;
  border-collapse: separate !important;
  border-spacing: 0;
  thead {
    background-color: #FFFFFF !important;
    position: sticky;
    top: 0;
    box-shadow: 0 1px 0 $cs-silver;
  }
  tbody {
    border: none !important;
    tr td {
      border: none;
    }
    td {
      background-color: transparent !important;
    }
  }
  .bg-light {
    background-color: $cs-white !important;
  }
  .bg-dark {
    background-color: $cs-cultured !important;
  }
  .sql-error {
    background-color: rgba($red, 0.3);
    font-weight: bold;
    border-radius: 6px;
    padding: 8px;
  }
}

.run-button, .check-button {
  height: 50px !important;
  padding: 0 5px !important;
  border-radius: 50px;
  border-color: transparent !important;
  background-color: $dark-pink-300;
  &:hover {
    background-color: $dark-pink-200 !important;
    border-radius: 50px !important;
  }
  &:active {
    background-color: $dark-pink-100 !important;
    border-radius: 50px !important;
  }
  &:focus {
    background-color: $dark-pink-300 !important;
    box-shadow: none !important;
    outline: none !important;
    border-radius: 50px !important;
  }
  &:focus-visible {
    outline: 2px solid $focus-blue !important;
    border-radius: 0;
    z-index: 10;
  }
  &.disabled, &:disabled {
    background-color: $cs-silver;
  }
}

.feedback-banner {
  font-family: Consolas, monospace;
  margin: 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  overflow-x: auto;
  overflow-y: hidden;
  color: white;
  white-space: nowrap;
  padding-left: 30px !important;
  z-index: 99;

  .feedback-button {
    background: 0 0;
    font-weight: 700;
    font-size: 120%;
    margin-top: -0.2rem;
    position: absolute;
    left: 3px;
    opacity: 1;
    text-shadow: 0 1px 0 #FFFFFF55;
    color: white;
  }
}

.feedback-success {
  background-color: $green;
}

.feedback-error {
  background-color: $red;
}


