$cs-reddish: #d7335f;

//Greys
$gray-103: #f8f8f8;
$gray-107: #ececec;
$gray-110: #e7e7e7;
$gray-118: #d2d2d2;
$gray-120: #c9cad1;
$gray-136: #a3a3a3;
$gray-142: #949494;
$gray-160: #666;
$gray-194: #0f0f0f;

$gray-blue: #636c73;

// Shadows
$shadow-3: rgba(0, 0, 0, 0.3);
$shadow-25: rgba(0, 0, 0, 0.25);
$shadow-08: rgba(0, 0, 0, 0.08);
$shadow-black: rgb(0, 0, 0);

// Button sizing
$input-btn-padding-y-lg: 0.5rem;
$input-btn-padding-x-lg: 3rem;
$border-radius-lg: 0.25rem;

// fonts
$primary-font: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$secondary-font: 'exo_2regular', sans-serif;
$secondary-font-bold: 'exo_2bold', sans-serif;
$secondary-font-semi-bold: 'exo_2semi_bold', sans-serif;
$secondary-font-medium: 'exo_2medium', sans-serif;
$tertiary-font: 'arconrounded-regular', sans-serif;

// ISAAC
// Node module imports
@import "~bootstrap/scss/bootstrap";


// Utility
@import "../common/mixins";
@import "../common/animations";

@import "button";

// Print
@import "../common/print";

a.disabled {
    color: $gray-600;
    pointer-events: none;
    cursor: default;
}

body {
    color: $black;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.625;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    flex-direction: column;
}

@import "editor";
@import "xterm";
